# Security
N8N_ENCRYPTION_KEY=
WEBHOOK_URL=

# DB
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=

# SMTP
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=smtp.resend.com
N8N_SMTP_PORT=465
N8N_SMTP_SSL=true
N8N_SMTP_USER=resend
N8N_SMTP_PASS=
N8N_SMTP_SENDER=

# Others
GENERIC_TIMEZONE=Asia/Taipei
TZ=Asia/Taipei
EXECUTIONS_DATA_PRUNE=true
EXECUTIONS_DATA_MAX_AGE=168
EXECUTIONS_DATA_SAVE_ON_ERROR=all
EXECUTIONS_DATA_SAVE_ON_SUCCESS=none
